*{
    box-sizing: border-box;
}
p{
    font-family: "Roboto";
}
.box-wrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: thistle;
}
.box{
    background-color: rgb(255, 99, 71, 0.7);
    font-size: 20px;
    width: 228px;
    height: 200px;
    margin-right: 15px;
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    border: 5px groove gold;
    cursor: pointer;
}
.child-box{
    width: 220px;
    transition: 0.4s cubic-bezier(1, 0.49, 0.03, 0.74) all;
    transform: translateY(-250px) translateX(-250px);
    height: 190px;
    background-color: rgba(29, 27, 27, 0.2);
}
.box:hover .child-box{

    transform: translateY(0px);

}
/* .box:hover{
    /* background-color: transparent; */
/* } */ 
.box:nth-child(5n){
    margin-right: 0;
    /* background-color: teal; */
}